<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hewutao.db.dao.base.mapper.ParentPOMapper">
  <resultMap id="BaseResultMap" type="com.hewutao.db.dao.base.model.ParentPO">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="child_id" jdbcType="VARCHAR" property="childId" />
    <result column="child_type" jdbcType="VARCHAR" property="childType" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="parent_type" jdbcType="VARCHAR" property="parentType" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, child_id, child_type, parent_id, parent_type, status
  </sql>
  <select id="selectByExample" parameterType="com.hewutao.db.dao.base.model.ParentPOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from parent
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from parent
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from parent
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.hewutao.db.dao.base.model.ParentPOExample">
    delete from parent
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hewutao.db.dao.base.model.ParentPO">
    insert into parent (id, child_id, child_type, 
      parent_id, parent_type, status
      )
    values (#{id,jdbcType=VARCHAR}, #{childId,jdbcType=VARCHAR}, #{childType,jdbcType=VARCHAR}, 
      #{parentId,jdbcType=VARCHAR}, #{parentType,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hewutao.db.dao.base.model.ParentPO">
    insert into parent
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="childId != null">
        child_id,
      </if>
      <if test="childType != null">
        child_type,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="parentType != null">
        parent_type,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="childId != null">
        #{childId,jdbcType=VARCHAR},
      </if>
      <if test="childType != null">
        #{childType,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="parentType != null">
        #{parentType,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hewutao.db.dao.base.model.ParentPOExample" resultType="java.lang.Long">
    select count(*) from parent
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update parent
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.childId != null">
        child_id = #{record.childId,jdbcType=VARCHAR},
      </if>
      <if test="record.childType != null">
        child_type = #{record.childType,jdbcType=VARCHAR},
      </if>
      <if test="record.parentId != null">
        parent_id = #{record.parentId,jdbcType=VARCHAR},
      </if>
      <if test="record.parentType != null">
        parent_type = #{record.parentType,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update parent
    set id = #{record.id,jdbcType=VARCHAR},
      child_id = #{record.childId,jdbcType=VARCHAR},
      child_type = #{record.childType,jdbcType=VARCHAR},
      parent_id = #{record.parentId,jdbcType=VARCHAR},
      parent_type = #{record.parentType,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hewutao.db.dao.base.model.ParentPO">
    update parent
    <set>
      <if test="childId != null">
        child_id = #{childId,jdbcType=VARCHAR},
      </if>
      <if test="childType != null">
        child_type = #{childType,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="parentType != null">
        parent_type = #{parentType,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hewutao.db.dao.base.model.ParentPO">
    update parent
    set child_id = #{childId,jdbcType=VARCHAR},
      child_type = #{childType,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=VARCHAR},
      parent_type = #{parentType,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>